In [47]:
import pandas as pd
from pathlib import Path
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression

In [48]:
df = pd.read_csv(Path('./Resources/all_responses_coded.csv'))
#df.head()
df.dtypes

index            int64
RespondentID     int64
A1               int64
A2               int64
A3               int64
                 ...
A60              int64
A61              int64
A62              int64
StartDate       object
EndDate         object
Length: 66, dtype: object

In [49]:
df.head()
#df.rename(columns={"A1": "Very_Conservative", "A2": "Conservative", "A3": "Moderate", "A4": "Liberal", "A5": "Very_Liberal", "A6":"Great_Deal_Trust", "A7":"Fair_Amount_Trust", "A8": "Not_Very_Much_Trust", "A9": "None_At_All"})

,index,RespondentID,A1,A2,A3,A4,A5,A6,A7,A8,...,A55,A56,A57,A58,A59,A60,A61,A62,StartDate,EndDate
0,0,6176264298,0,0,1,0,0,0,1,0,...,0,0,1,0,0,0,0,0,5/1/17 15:41,5/1/17 15:43
1,1,6176263960,0,0,1,0,0,0,1,0,...,0,0,0,0,0,1,0,0,5/1/17 15:35,5/1/17 15:43
2,2,6176258621,0,0,0,1,0,0,1,0,...,0,0,0,0,0,1,0,0,5/1/17 15:38,5/1/17 15:40
3,3,6176257082,0,0,0,1,0,0,1,0,...,1,0,1,0,0,0,0,0,5/1/17 15:38,5/1/17 15:39
4,4,6176256111,0,0,0,1,0,0,1,0,...,0,1,1,0,0,0,0,0,5/1/17 15:34,5/1/17 15:39

In [50]:
#drop columns we don't want to use to predict and those that do not have an int value
df = df.drop(["index", "RespondentID", "A21", "StartDate", "EndDate"], axis=1)
df.head()

,A1,A2,A3,A4,A5,A6,A7,A8,A9,A10,...,A53,A54,A55,A56,A57,A58,A59,A60,A61,A62
0,0,0,1,0,0,0,1,0,0,1,...,1,0,0,0,1,0,0,0,0,0
1,0,0,1,0,0,0,1,0,0,1,...,0,0,0,0,0,0,0,1,0,0
2,0,0,0,1,0,0,1,0,0,1,...,0,0,0,0,0,0,0,1,0,0
3,0,0,0,1,0,0,1,0,0,0,...,0,0,1,0,1,0,0,0,0,0
4,0,0,0,1,0,0,1,0,0,1,...,0,0,0,1,1,0,0,0,0,0

In [51]:
#start the test with trying to predict whether a person will be "Very conservative" based on the input values
y = df["A1"]
X = df.drop(columns="A1")

In [52]:
#create the training model
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,
   y, random_state=1, stratify=y)

In [53]:
#
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression(solver='lbfgs',
   max_iter=200,
   random_state=1)

In [54]:
classifier.fit(X_train, y_train)

LogisticRegression(max_iter=200, random_state=1)

In [56]:
#use the y test
y_pred = classifier.predict(X_test)
y_pred

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0,
       0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0,
       0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], dtype=int64)